body{
	text-align: center;
	background-image: url('Shadows_over_Waterdeep.png');
	background-repeat: no-repeat;
	
	background-size: cover;
}

.boks{
	
	background: rgba(255,255,255,0.4);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	text-align: center;
}
h1{
	background: rgba(255,255,255,0.4);
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	text-align: center;
}

h2{
	background: rgba(255,255,255,0.4);
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	text-align: center;
}

.notes{
	background: rgba(255,255,255,0.4);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
.kant {
	border-style: solid;
	border-width: 10px;
	border-color: black;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-height: 100vh;
}
.fjern{
	background:background: rgba(255,255,255,0) ;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	text-align: center;
}